%h1 Welcome

.container
  %p Welcome the the search able project 1999 item database.
  %p The goal is to create a fully functional database to mimic what Allakazam's had during live during Classic - Velious
  %p
  %p Note that there is a reporting feature for items that are not classic when you report and item it goes into a queue that has the ability to auto check the item against alla's and see if the item is form an era past velious if it is the item is deleted
  
  
  %p Planed features include:
  %ul
    %li Seachable Spell database
    %li Searchable Quest database
    %li Linking Look ups from mobs to items and vince versa
      

%h2 Search

= render :template => 'items/search'